@use "../../variables"as vars;
@use "../../func"as funcs;

.timeline {
    position: relative;
    padding: 2rem 0;
    max-width: 800px;
    margin: 0 auto;
    background-color: vars.$first;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(48px / 2);
        width: 4px;
        background-color: vars.$third;
    }

    .timelineEntry {
        position: relative;
        margin-bottom: 2rem;
        padding-left: calc(48px + 1rem);


        .timelineEntryMarker {
            position: absolute;
            left: 0;
            top: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: vars.$second;
            border: 4px solid vars.$third;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 100%;
                height: 100%;
                padding: 10px;
            }
        }

        .timelineEntryCard {
            @include funcs.glow-border();
            background-color: vars.$second;
            color: vars.$fourth;
            transition: all 0.3s ease;

            .timelineEntryCardTitle {
                margin-bottom: 0.5rem;
                font-size: 2rem;

            }

            .timelineEntryCardDate {
                color: vars.$first-text;
                font-size: 0.875rem;
                margin-bottom: 0.5rem;
            }

            .timelineEntryCardDescription {
                color: vars.$first-text;
                font-size: 1rem;
                line-height: 1.5;
            }
        }
    }

    @media (max-width: 768px) {
        &::before {
            left: 20px;
        }

        &-entry {
            padding-left: calc(48px + 0.5rem);

            &-marker {
                left: 0;
                width: 40px;
                height: 40px;
            }

            &-card {
                margin-left: 60px;
            }
        }
    }
}