html {
    background-color: #28282B;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 25vh; /* Adjust this value to match the height of your navbar */
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: 0 auto; /* Center the navbar horizontally */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    margin-top: 2.5vh;
}

.navbar .left {
    flex-grow: 1;
    margin-right: 50vh; /* Margin between the left and right items */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px white) /* Enhanced glow effect */
}

.scale{
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 10px white); /* Adds a glow effect */
}

.scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navbar .left:hover {
    background-color: transparent; /* Disables the background color change */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly brighter hover effect */
}

.navbar .right:hover {
    filter: drop-shadow(0 0 10px white); /* Adds a glow effect */
}
