
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    background-color: #28282B;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 25vh; /* Adjust this value to match the height of your navbar */
}

p, h1, h2, h3, h4, h5, h6, a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    filter: drop-shadow(0 0 0.5rem white) /* Enhanced glow effect */

}




.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1rem);
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: auto; /* Center the navbar horizontally */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    max-width: fit-content;
    margin-top: 2rem;
}

.navbar .left {
    flex-grow: 1;
    margin-right: 35rem; /* Margin between the left and right items */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1rem white) /* Enhanced glow effect */
}

.scale{
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 10px white); /* Adds a glow effect */
}

.scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.navbar .left:hover {
    background-color: transparent; /* Disables the background color change */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly brighter hover effect */
}

.navbar .right:hover {
    filter: drop-shadow(0 0 1rem white); /* Adds a glow effect */
}

.wrapper {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-right: auto;
    margin-left: auto;
  }

  .glow,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
 }

.glow {
  filter: blur(0.35rem) saturate(5);
}

.intro{
    margin-left: 10vw;
}

@keyframes slideInLeft{
    from {
        transform: translateY(3rem);
        opacity: 0.1;

    }

    to {
        transform: translateX(0rem);
        opacity: 1;
    }
}

.text_ani{
    animation: slideInLeft 1s ease;
}


.hugee{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 20px;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:810px){

    .navbar {
        max-width: none;
    }

    .navbar .left{
        margin-right: 0rem
    }

    .intro{
        margin-left: 0;
        text-align: center;
    }

    .text_ani{
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        transition-property: none !important;
        opacity: 1 !important;
    }

    .navbar a:hover {
        background-color: none; /* Slightly brighter hover effect */
    }
    
    .navbar .right:hover {
        background: none;
    }

    .scale{
        transition: none;
        filter: none; /* Adds a glow effect */
    }
    
    .scale:hover {
        transform: none;
        cursor: none;
    }
    
}

@media only screen and (max-width:480px){

    .navbar {
        max-width: none;
    }

    .navbar .left{
        margin-right: 0rem
    }

    .intro{
        margin-left: 0;
        text-align: center;
    }

    .text_ani{
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        transition-property: none !important;
        opacity: 1 !important;
    }

    .navbar a:hover {
        background-color: none; /* Slightly brighter hover effect */
    }
    
    .navbar .right:hover {
        background: none;
    }

    .scale{
        transition: none;
        filter: none; /* Adds a glow effect */
    }
    
    .scale:hover {
        transform: none;
        cursor: none;
    }
    
}
