
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --spring-easing: linear(
      0, 0.009, 0.035 2.1%, 0.141, 0.281 6.7%, 0.723 12.9%, 0.938 16.7%, 1.017,
      1.077, 1.121, 1.149 24.3%, 1.159, 1.163, 1.161, 1.154 29.9%, 1.129 32.8%,
      1.051 39.6%, 1.017 43.1%, 0.991, 0.977 51%, 0.974 53.8%, 0.975 57.1%,
      0.997 69.8%, 1.003 76.9%, 1.004 83.8%, 1
    );
    --spring-duration: 1.333s;
  }

html {
    background-color: #28282B;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 25vh; /* Adjust this value to match the height of your navbar */
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    filter: drop-shadow(0 0 0.5rem white) /* Enhanced glow effect */

}

.navbar a{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
    filter: drop-shadow(0 0 0.5rem white); /* Enhanced glow effect */
}




.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(1rem); /* Add this line first, it fixes blur for Safari*/
    backdrop-filter: blur(1rem);  /* This line activates blur*/
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin: auto; /* Center the navbar horizontally */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    max-width: 100ch;
    margin-top: 2rem;
    transform: translate3d(0, 0, 0);
    
}

.navbar .left {
    flex-grow: 1;
    float: left; /* Margin between the left and right items */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    filter: drop-shadow(0 0 1rem white) /* Enhanced glow effect */
}

.scale{
    transition: all 0.5s var(--spring-easing);
    filter: drop-shadow(0 0 10px white); /* Adds a glow effect */
}

.scale:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.scale:active{
    transform: scale(0.9);
}

.navbar .left:hover {
    background-color: transparent; /* Disables the background color change */
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly brighter hover effect */
}

.navbar .right:hover {
    filter: drop-shadow(0 0 1rem white); /* Adds a glow effect */
}

.wrapper {
    position: relative;
    width: 10rem;
    height: 10rem;
    margin-right: auto;
    margin-left: auto;
  }

  .glow,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
 }

.glow {
  filter: blur(0.35rem) saturate(5);
}

.intro{
    margin-left: 10vw;
}

@keyframes slideInLeft{
    from {
        transform: translateY(3rem);
        opacity: 0.01;

    }

    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.text_ani{
    animation: slideInLeft 2s ease;
}




.hugee{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 20px;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s var(--spring-easing);
}

.hugee2{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px 20px;
    max-width: fit-content;
    max-height: fit-content;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50px);
    transition: all 0.5s var(--spring-easing);
}

.hugee:hover{
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    cursor: pointer;
}

.hugee2:hover{
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg) translateY(50px);
    cursor: pointer;
}

.hugee:active{
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    cursor: pointer;
}


.hugee2:active{
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg) translateY(50px);
    cursor: pointer;
}


.parent {
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }


.footer{
    background-color: #222224;
    padding: 1rem;
    margin-top: 3rem;
    height: 3rem;
}

.footer p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.footerthing{
    margin-left: 10rem;
}
.footerthing {
    transition: 5s var(--spring-easing);
}

@keyframes slide{
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-10rem);
    }
}


@keyframes slidei{
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(10rem);
    }
}


.footerthing.fade-out {
    animation: slide 5s var(--spring-easing);
    opacity: 0;
}


.footerthing2{
    margin-left: 10rem;
}
.footerthing2 {
    transition: 5s var(--spring-easing);
}

.footerthing2.fade-out {
    animation: slidei 5s var(--spring-easing);
    opacity: 0;
}

.footerthing3 {
    transition: 5s var(--spring-easing);
    height: 2rem; 
    margin-left: 1rem; 
    transform: translateY(10px);
}

.footerthing3.fade-out {
    animation: slidei 5s var(--spring-easing);
    opacity: 0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }


@keyframes footerfade{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0s;
    }
}


@media only screen and (max-width: 1075px){
    .hugee2{
        background: rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 10px 20px;
        max-width: fit-content;
        max-height: fit-content;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
        margin-left: auto;
        margin-right: auto;
        transform: translateY(0);
        transition: all 0.5s var(--spring-easing);
    }

    .navbar {
        max-width: none;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media only screen and (max-width:810px){

    .ultra{
        float: left;
    }

    body{
        padding-top: 17.5vh;
    }



    .navbar .left{
        margin-right: 0;
    }

    .intro{
        margin-left: 0;
        text-align: center;
    }

    .navbar a:hover {
        background-color: none; 
    }
    
    .navbar .right:hover {
        background: none;
    }

    .scale{
        transition: none;
        filter: none; 
    }
    
    .scale:hover {
        transform: none;
        cursor: none;
    }
    
    .footer p{
        text-align: center;
        margin: 0;
    }

    .hugee{
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        transition-property: none !important;
        opacity: 1 !important;
    }
    .hugee2{
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        transition-property: none !important;
        opacity: 1 !important;
    }



    .parent{
        margin: 0;
        padding: 0;
    }


    .centertexty{
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    .footerthing3{
        display:none;
    }

    .footer{
        height: 0.75rem;
    }


}