@use "../../variables"as vars;
@use "../../func"as funcs;

.footer {
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: vars.$first;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        text-decoration: none;

        margin-left: 10%;
        width: 40%;

        h1 {
            @include funcs.text-fade-anim-h1();
            font-size: 20vh;
        }

        p {
            @include funcs.text-fade-anim-p();
            text-align: left;

            a {
                color: vars.$third;
                text-decoration: underline;
                transition: all vars.$spring 0.5s;

                &:hover {
                    color: vars.$fourth;
                    text-decoration: underline wavy;
                }
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        text-decoration: none;

        margin-left: 10%;
        width: 40%;

        svg {
            font-size: 10vh;
            color: vars.$second-text;
            transition: all vars.$spring 0.5s;

            &:hover {
                color: vars.$fourth;
            }
        }
    }
}