$primary: #181C14;
$secondary: #3C3D37;
$thircirary: #697565;
$forciery: #ECDFCC;

$primary-rgb: rgb(24, 28, 20);
$secondary-rgb: rgb(60, 61, 55);
$thircirary-rgb: rgb(105, 117, 101);
$forcierty-rgb: rgb(236, 223, 204);

$spring-duration: 1s;
$spring-easing: linear(0, 0.0024, 0.0093 1.03%, 0.0353, 0.0754 3.09%, 0.1364 4.29%, 0.2782 6.52%, 0.7175 12.69%, 0.8331, 0.9318 16.46%, 1.0052 18.18%, 1.0678, 1.1121 21.95%, 1.1291, 1.1416 24.01%, 1.1508 25.21%, 1.1551, 1.1538 27.95%, 1.1469 29.49%, 1.1369 30.86%, 1.1227 32.41%, 1.0491 39.09%, 1.0171 42.52%, 1.0023 44.58%, 0.9918, 0.9842 48.35%, 0.9789 50.41%, 0.976 53.16%, 0.9772 56.41%, 0.9969 69.1%, 1.0029 76.13%, 1.0036 82.82%, 0.9998 99.97%);