$first: #000000;

$second: #404040;
$third: #7f7f7f;
$fourth: #ffffff;

$first-text: #bbbaba;
$second-text: #757575;

$fourth-faded: rgba(255, 255, 255, 0.2);

$spring: linear(0, 0.0017, 0.0065 1.13%, 0.0277 2.39%, 0.065, 0.1136 5.21%, 0.2201 7.74%, 0.4789 13.23%, 0.592 15.77%, 0.699 18.44%, 0.7863, 0.859 23.51%, 0.9202, 0.9668 28.86%, 0.986 30.27%, 1.0033 31.82%, 1.0222 34.07%, 1.0359 36.6%, 1.0436 39.28%, 1.046 42.24%, 1.0447 44.63%, 1.0407 47.45%, 1.0119 61.81%, 1.0026 69.55%, 0.9981 80.53%, 0.9991 99.96%);