.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    align-items: flex-end;

    padding: 15px 20px;

    height: 100vh;
    width: 100vw;


    .bottom_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

        h1 {
            max-width: 50rem;
        }
    }

    .bottom_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;

        p {
            max-width: 25rem;
        }

        a {
            opacity: 0;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 1.5rem;

        .bottom_left,
        .bottom_right {
            width: 100%;
            align-items: flex-start;
        }

        .bottom_left {
            margin-top: 2rem;

            h1 {
                font-size: 8rem !important;
                max-width: 100%;
            }

            h2 {
                font-size: 3.5rem !important;
                max-width: 100%;
            }
        }

        .bottom_right {
            margin-top: 1.5rem;
        }

        p {
            max-width: 100%;
            font-size: 2rem;
        }

        a.btn {
            opacity: 1;
            align-self: flex-start;
        }
    }

}