.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;

    align-items: flex-end;

    padding: 15px 20px;

    height: 100vh;
    width: 100vw;


    .bottom_left {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;

        gap: 2rem;

        .fullstack_container {
            width: fit-content;

            h1 {
                position: relative;
                width: min-content;
            }
        }

        .ai_container {
            display: flex;
            align-items: flex-end;

            .ai {
                font-size: 4rem;
                padding: 2rem 1rem;
                backdrop-filter: blur(8px);

                border: 1px solid #f5eee6;



                writing-mode: vertical-rl;
            }
        }
    }





    .bottom_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;

        p {
            max-width: 25rem;
        }

        a {
            opacity: 0;
        }
    }

    @media (max-width: 720px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 1.5rem;

        .bottom_left,
        .bottom_right {
            width: 100%;
            align-items: flex-start;
        }

        .bottom_left {
            margin-top: 2rem;

            h1 {
                font-size: 8rem !important;
                max-width: 100%;
            }

            h2 {
                font-size: 3.5rem !important;
                max-width: 100%;
            }
        }

        .bottom_right {
            margin-top: 1.5rem;
        }

        p {
            max-width: 100%;
            font-size: 2rem;
        }

        a.btn {
            opacity: 1;
            align-self: flex-start;
        }
    }

}