.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(10px);

    .navbar-container {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            gap: 2rem;

            a {
                font-weight: bold;
                color: #f5eee6;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                text-decoration: dashed underline;

                &:hover {
                    color: #daa769;
                    text-decoration: wavy underline;
                }
            }

            a,
            p {
                font-size: 2rem !important;

            }
        }
    }
}