@media (max-width: 800px) {

    .nav {
        padding: 10px 30px;
        margin: 20px;
    }

    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 150px;
        height: 150px;
    }

    .hero .description {
        font-size: 15px;
    }
    
    .hero .cool-stuff {
        font-size: 15px;
    }

    .hero .cool-stuff::before {
        top: 35px;
        left: 5px;
        width: 75px;
        height: 40px;
    }

    .card h1 {
        width: 150px;
        height: 150px;
        top: -10px;
    }

    .hard-at-work {
        font-size: 15px;
    }

    .cards {
        gap: 5%;
    }

    .cards .column {
        gap: 50px;
    }

    .card {
        padding: 10px;
    }

    .card img, .card svg {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 1600px) {
    .vertical {
        width: 100px !important;
        height: 1px !important;
    }

    .skill-vert {
        flex-direction: column !important;
        gap: 10px;
    }

    .skills-container {
        flex-direction: column;
    }

    br {
        display: none;
    }

    .hero .name::before {
        top: 0;
        left: 450px;
    }
}

@media (max-width: 1332px) {
    .hero {
        margin-top: 150px;
    }
}

@media (max-width: 1124px) {
    .hero .description::before {
        top: 125px;
        left: 0;
        width: 70px;
        height: 50px;
    }
}
@media (max-width: 1042px) {
    .hero .description::before {
        top: 125px;
        left: 40px;
        width: 70px;
        height: 50px;
    }

    .skills-container {
        margin: 0;
    }
}

@media (max-width: 967px) {
    .hero .name::before {
        top: 100px;
        left: 0;
    }
}

@media (max-width: 630px) {
    .hero .name::before {
        top: 100px !important;
        left: -10px !important;
    }
}

@media (max-width: 992px) {
    .hero .description::before {
        top: 125px;
        left: 150px;
        width: 70px;
        height: 50px;
    }
}
@media (max-width: 840px) {
    .hero .description::before {
        top: 125px;
        left: 370px;
        width: 70px;
        height: 50px;
    }
}
@media (max-width: 800px) {

    .hero .name::before {
        top: 0;
        left: 450px;
    }

    .hero .description::before {
        top: 25px;
    }

    #scroll-anim {
        display: none;
    }

    .hero {
        margin-top: 150px;
    }

}

@media (max-width: 500px) {

    .hero {
        gap: 0;
    }
}

@media (max-width: 575px) {
    .emoji img {
        position: relative;
        margin-bottom: 100px;
    }
}


@media (max-width: 414px) {
    .hero .description::before {
        top: 25px;
        left: 400px;
        width: 50px;
        height: 50px;
    }

    .hero .name::before {
        top: 180px;
        left: 0;
        width: 120px;
    }

    hr:first-child {
       margin: 0;
    }

    .hero {
        margin-top: 100px;
    }

    .emoji img {
        display: none;
    }
}